/* ***************ADMIN CSS************ */
/* TABLE CSS */


table,
tr,
td,
.th1 {
  border-bottom: 1px solid !important;
  border-color: $lightOrange !important;
  justify-content: center !important;
}

table{
  border: 1px solid $lightOrange !important;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid $lightOrange!important;
  border-top:1px solid $lightOrange!important;
}

.table-hover> tbody> tr:hover{
  background-color:#f29f4c48;
}

td .p{
  align-items: center;
}

@media (min-width: 1125px) {
  a.tab-link {
    font-size: 125%;
  }
}

@media (max-width: 1126px) {
  a.tab-link {
    font-size: 110%;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 400;
  }
}


.addBlogTitle, .addRecipesTitle, .showRecipesTitle, .showUsersTitle .myRecipesTitle, .myFavesTitle {
    cursor: pointer;
  }
  
  .addBlogSpan:hover, .addRecipesSpan:hover, .showRecipesSpan:hover, .showUsersSpan:hover, .myRecipesSpan:hover, .myFavesSpan:hover {
    color: $mediumOrange;
    transition: ease 0.5;
  }

.fa4, .fa5, .fa6 {
  transform: rotateZ(0deg);
  transition: transform 0.2s;
}

.fa7, .fa8, .fa9 {
  transform: rotateZ(0deg);
  transition: transform 0.2s;
}

.fa4.active, .fa5.active, .fa6.active  {
  transform: rotateZ(90deg);
}

 .fa7.active, .fa8.active, .fa9.active  {
    transform: rotateZ(90deg);
  }

.addBlogDiv, .addRecipesDiv, .showRecipesDiv, .showUsersDiv, .myRecipesDiv, .myFavesDiv {
  display: none;
}

// @media (max-width: 957px) {
//  .admin-container {
//     padding-left: 0px!important;
//     padding-right: 0px!important;
//   }
// }
@media (min-width: 992px) {
  #accordion{
    display: none;
  }
 }

@media (max-width: 991px) {
  #accordion{
    display: block;
    margin-bottom: 5%;
  }
 }

 button.btn-link:hover {
  color: $mediumOrange !important;
  transition: ease 0.3;
}

    