/* *********************** BLOG RELATED CSS **********************    */
textarea.blog-post{
    width:200%;
    margin-left: -50%;
    background-color: white!important;
}

.add-blog-content-title{
    margin-left: -50%;
}

.add-blog-title{
    margin-left: -50%;
}

.blog-post-title{
    margin-left: -50%;
}

/* --------------------------------------------*/

.blog-content{
    margin-left: 10%;
}