/* *********************** CONTACT  **********************    */

.here-link{
    color:$darkOrange;
}


.fa-phone{
    color:$darkOrange;
}

.fa-envelope{
    color:$darkOrange;
}


#contact-form{
    padding-bottom: 10%;
}

.contact-page-right-col{
    padding-top: 3.5%;
}

.contact-heading{
    padding-top: 3%;
}