/* *************************** GENERAL CSS *****************************     */

/* --------------- MIXINS HELLO------------------     */
@mixin mont-light-font( $family: 'Montserrat' , $weight: 300 , $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
    font-weight: $weight;
  }

@mixin mont-medium-font( $family: 'Montserrat' , $weight: 400 , $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
    font-weight: $weight;
  }

  @mixin heading-font( $family: 'Ubuntu' ,  $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
  }

  @mixin heading-weighted-font( $family: 'Ubuntu' , $weight: 400 , $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
    font-weight: $weight;
  }
/* ------------------------------------*/
h1{
    @include heading-font;
}

h2{
    @include heading-weighted-font;
}
h3{
    @include mont-medium-font;
}
h4{
    @include mont-medium-font;
}
h5{
    @include mont-medium-font;
}
h6{
    @include mont-medium-font;
}

p{
  @include mont-medium-font;
}

input.sortBy{
  @include mont-medium-font;
}

.underline {
    border-bottom: 3px solid $darkOrange;
    display: inline-block;
    line-height: 2;
  }

body{
    background-color: $white;
}


//keep page content below mobile nav
@media (max-width: 991px) {

 main{
    margin-top:7%;
}
}

/* ********************* BUTTON CSS ************************     */
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light {
    color: $white;                  /*writing*/
    background-color: $darkOrange;
    border-color: $darkOrange;
    border-width: 2px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active {
    color: $darkOrange;                  /*writing*/
    background-color:transparent ;
    border-color: $darkOrange;
    border-width: 2px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.btn.btn-light-invert:hover,
.btn.btn-light-invert:focus,
.btn.btn-light-invert:active,
.btn.btn-light-invert {
    color: $darkOrange;                  /*writing*/
    background-color: transparent;
    border-color: $darkOrange;
    border-width: 2px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.btn.btn-light-invert:hover,
.btn.btn-light-invert:focus,
.btn.btn-light-invert:active,
.btn.btn-light-invert.active {
    color: $white;                  /*writing*/
    background-color:$darkOrange ;
    border-color: $darkOrange;
    border-width: 2px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  }

  .card-body {
    box-shadow: -1px 17px 16px -5px rgba(122,122,122,0.52);
  }