/* *************************** GENERAL CSS *****************************     */

/* --------------- MIXINS HELLO------------------     */
@mixin mont-light-font( $family: 'Montserrat' , $weight: 300 , $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
    font-weight: $weight;
  }

@mixin mont-medium-font( $family: 'Montserrat' , $weight: 400 , $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
    font-weight: $weight;
  }

  @mixin heading-font( $family: 'Ubuntu' ,  $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
  }

  @mixin heading-weighted-font( $family: 'Ubuntu' , $weight: 400 , $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
    font-weight: $weight;
  }
/* ------------------------------------*/
h1{
    @include heading-font;
}

h2{
    @include heading-weighted-font;
}
h3{
    @include mont-medium-font;
}
h4{
    @include mont-medium-font;
}
h5{
    @include mont-medium-font;
}
h6{
    @include mont-medium-font;
}

p{
    font-family: 'Montserrat', sans-serif;
}



hr{
    border: 1.5px solid $darkOrange;
    border-radius:5px;
    width: 20%;
} 

body{
    background-color: $white;
}

/* ********************* BUTTON CSS ************************     */
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light {
    color: $white;                  /*writing*/
    background-color: $darkOrange;
    border-color: $darkOrange;
    border-width: 2px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active {
    color: $darkOrange;                  /*writing*/
    background-color:$white ;
    border-color: $darkOrange;
    border-width: 2px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

