/*  ********************** CSS FOR NAV **********************    */



@mixin mont-medium-font( $family: 'Montserrat' , $weight: 400 , $style: normal ) {
    font-family: $family ,  sans-serif;
    font-style: $style;
    font-weight: $weight;
  }

nav {
    background-color: $mediumOrange!important;
    //background-color: rgba(251, 96, 7, 0.50)!important;
}

.nav-link{
    color: white!important;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
    color: $white!important;
    transition: 0.3s;
}


.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: $yellow!important;
}

.burger-icon{
    width:50%;
    height:50%;
}

button.navbar-toggler{
    padding-left: 0%;
    padding-right: 0%;
}


.navbar-brand{
    width: 20%!important;
}

.nav-link{
    font-size: 25px ;
    font-weight: 300
}
a.dropdown-item{
   
    font-family: 'Montserrat', sans-serif;
}

.mobileNav{
    display:none;
}

.desktopNav{
display: inline-flex;
}



/* *********************** HOVER ANIMATION CSS FOR NAV **********************    */


@media (min-width: 980px) {

    li.nav-hover > a {
        position: relative;
        color: #000;
        text-decoration: none;
    }

    li.nav-hover > a:hover {
        color: #000;
    }

    li.nav-hover > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }


    li.nav-hover > a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}





/* *** hides hover animation for mobile nav  ********    */

@media (max-width: 980px) {
    li.nav-hover > a {
        position: relative;
        color: #000;
        text-decoration: none;
    }

    li.nav-hover > a:hover {
        color: #000;
    }

    li.nav-hover > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $yellow;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }


    li.nav-hover > a:hover:before {
        visibility: hidden;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}







/*  ********************** MOBILE!!!! CSS FOR NAV **********************    */

@media (max-width: 991px) {

    .desktopNav{
        display:none;
    }

.mobileNav{
    display: block;
}

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: $mediumOrange;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    z-index: 10;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, $mediumOrange 0%, $yellow 180%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    @include mont-medium-font;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
}