/* *********************** RANDOM RECIPE CSS  **********************    */
.random-row {
  justify-content: center !important;
}

.title-div {
  text-align: center;
}

.ingredients-div {
  margin-left: 15%;
}

.random-recipe-list {
  background-color: white;
  box-shadow: -1px 17px 16px -5px rgba(122, 122, 122, 0.52);
  border-radius: 15px;
  margin-bottom: 7%;
}

.random-recipe {
  align-items: center;
}

// .randomResultHeading{
//     color: $darkOrange;
// }

.title-random-line {
  width: 20%;
  border: 1px solid $darkOrange;
  margin-top: 0%;
}
.ingredient-random-line {
  width: 65%;
  border: 1px solid $darkOrange;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.serves-random-line {
  width: 75%;
  border: 1px solid $darkOrange;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.time-random-line {
  width: 70%;
  border: 1px solid $darkOrange;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.equipment-random-line {
  width: 110%;
  border: 1px solid $darkOrange;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.cuisine-random-line {
  width: 80%;
  border: 1px solid $darkOrange;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.method-random-line {
  width: 20%;
  border: 1px solid $darkOrange;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.randomResultHeading {
  margin-top: 8%;
}

.random-button {
  margin-bottom: 6%;
}

// .random-recipe-div{
//     display:flex;
//     justify-content: center;
// }

#image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.equipment {
  margin-left: 10%;
  display: block;
}

button.myLink {
  border-radius: 25px;
  padding: 5%;
  background-image: url("../images/recipeasy-icons-logos/heart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button.myLink:hover {
  cursor: pointer;
  background-image: url("../images/recipeasy-icons-logos/heart-clicked2.png");
  transition: ease 0.2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button.myLink.active {
  background-image: url("../images/recipeasy-icons-logos/heart-clicked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faveForm {
  display: inline;
}

#myImage {
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  #myImage {
    top: 65%;
    left: 85%;
  }
}

@media (max-width: 767px) {
    #myImage {
      top: 85%;
      left: 85%;
    }

    .random-recipe-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }