
/* *********************** RANDOM RECIPE CSS  **********************    */
.random-row{
    justify-content: center!important;
}

.random-recipe-list{
    background-color: white;
    box-shadow: -1px 17px 16px -5px rgba(122,122,122,0.52);
    border-radius: 15px;
    margin-bottom: 7%;
}

.random-recipe{
    align-items: center;
}

// .randomResultHeading{
//     color: $darkOrange;
// }

.random-line{
    width: 80%;
    border: 1px solid $darkOrange;
    margin-top: 0%;
    text-align: left;
}

.title{
    padding-top: 4%;
}