/* *********************** RECIPE API CSS  **********************    */
.hide {
    display: none;
}

.recipe-api{
   
    margin-left: 25%;
}


#selectedRecipe{
    font-family: 'Montserrat', sans-serif;
}


.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button {
    color: $white;                  /*writing*/
    background-color: $darkOrange;
    border-color: $darkOrange;
    border-width: 1px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button.active {
    color: $darkOrange;                  /*writing*/
    background-color: white ;
    border-color: $darkOrange;
    border-width: 1px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.api-button{
    margin-top: 2%;
}

@media (max-width: 767px) {

    .api-form-control{
        width: 60%;
        margin-right: 10%;
    }
    }



/* *********************** RECIPE API CSS  **********************    */
.hide {
    display: none;
}

.recipe-api{
   
    margin-left: 25%;
}


#selectedRecipe{
    font-family: 'Montserrat', sans-serif;
}


.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button {
    color: $white;                  /*writing*/
    background-color: $darkOrange;
    border-color: $darkOrange;
    border-width: 1px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button.active {
    color: $darkOrange;                  /*writing*/
    background-color: white ;
    border-color: $darkOrange;
    border-width: 1px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.api-button{
    margin-top: 2%;
}

@media (max-width: 767px) {

    .api-form-control{
        width: 60%;
        margin-right: 10%;
    }
    }