/* *********************** RECIPE API CSS  **********************    */


.hide {
    display: none;
}
#intoleranceList, #dietRestrictionsList, #addedTime {
    display: none;
}

@media(min-width: 768px){
    .recipe-api{
        margin-left: 25%;
    }
}


#selectedRecipe{
    font-family: 'Montserrat', sans-serif;
}


.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button {
    color: $white;                  /*writing*/
    background-color: $darkOrange;
    border-color: $darkOrange;
    border-width: 1px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button.active {
    color: $darkOrange;                  /*writing*/
    background-color: white ;
    border-color: $darkOrange;
    border-width: 1px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.api-button{
    margin-top: 2%;
}

@media (max-width: 767px) {

    .api-form-control{
        width: 60%;
        margin-right: 10%;
    }
    }

    .api-line{
        width: 80%;
        border: 0.5px solid $darkOrange;
        margin-top: 0%;
        text-align: left;
    }
    
    p.sub-head-api{
        margin-bottom: 0%;
    }
    

#ingredientList,#equipment,#recipeName,#cuisine,#methodList{
    @include mont-medium-font;
}

input.checkbox-api{
    margin-right: 1%;
}

ul.ingredients-list{
    list-style-type:circle;
}

.api-recipe{
    margin-bottom: 4%;
}

.resultHeading{
    color: $darkOrange;
}
#ingredientsList, #intolerances,  #dietRestrictionss{
    width: 500px;
    background: #f0f0f0;
    padding: 15px 15px 10px 15px;
    border-radius: 15px;
  
    h1{
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 20px;
    }
  
    ul{
      list-style: none;
      margin: 0px;
      padding: 0px;
      display: inline-block;
  
      li{
        display: inline-block;
        background: #555;
        color: white;
        padding: 3px 5px 3px 10px;
        border-radius: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
  
        a{
          color: white;
          text-decoration: none;
          margin-left: 5px;
          font-size: 10px;
          background: #333;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          display: inline-flex;
          text-align: center;
          align-items: center;
          justify-content: center;
  
          &:hover{
            color: red;
          }
        }
      }
    }
  
    input{
      border: 0px;
      background: none;
      margin-bottom: 5px;
      display: inline-block;
    }
  }