/* **********************VARIABLES STYLES****************************/
/* *************************** GENERAL CSS *****************************     */
h1 {
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: 1.5px solid #FB6107;
  border-radius: 5px;
  width: 20%;
}

body {
  background-color: #FFF8F2;
}

/* ********************* BUTTON CSS ************************     */
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light {
  color: #FFF8F2;
  /*writing*/
  background-color: #FB6107;
  border-color: #FB6107;
  border-width: 2px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active {
  color: #FB6107;
  /*writing*/
  background-color: #FFF8F2;
  border-color: #FB6107;
  border-width: 2px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* ************Home page specific css*******************     */
.home-title1 {
  padding-top: 5%;
  margin-right: 40%;
}

.bottom-home {
  padding-bottom: 10%;
}

.carousel-caption {
  background-color: rgba(240, 148, 81, 0.6);
  width: 20%;
  margin-left: 25%;
  border-radius: 15px;
}

/*  ********************** CSS CARDS - HOME PAGE **********************    */
@media (max-width: 991px) {
  .home-card {
    width: 80%;
    margin-left: 15%;
  }
}

@media (max-width: 670px) {
  .home-card {
    width: 80%;
    margin-left: 10%;
  }
}

/*  ********************** CSS FOR NAV **********************    */
nav {
  background-color: #f09451 !important;
}

.nav-link {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
  color: #F7F13B !important;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: #F7F13B !important;
}

.burger-icon {
  width: 50%;
  height: 50%;
}

button.navbar-toggler {
  padding-left: 0%;
  padding-right: 0%;
}

.navbar-brand {
  width: 20% !important;
}

.nav-link {
  font-size: 25px;
  font-weight: 300;
}

a.dropdown-item {
  font-family: 'Montserrat', sans-serif;
}

/* *********************** HOVER ANIMATION CSS FOR NAV **********************    */
@media (min-width: 980px) {
  li.nav-hover > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  li.nav-hover > a:hover {
    color: #000;
  }
  li.nav-hover > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F7F13B;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  li.nav-hover > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* *** hides hover animation for mobile nav  ********    */
@media (max-width: 980px) {
  li.nav-hover > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  li.nav-hover > a:hover {
    color: #000;
  }
  li.nav-hover > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F7F13B;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  li.nav-hover > a:hover:before {
    visibility: hidden;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* *********************** PROFILE PAGE CSS **********************    */
.profile-body {
  background-image: url("../images/backgrounds/background-blur.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-title1 {
  color: #fffd77;
}

.profile-user-info {
  background-color: white;
  border-radius: 15px;
  border: 1px solid;
  border-color: #f09451;
  padding: 5%;
  padding-bottom: 10%;
  -webkit-box-shadow: inset 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.profile-h5 {
  color: #f09451;
}

.user-col {
  margin-left: 25%;
}

.user-name {
  margin-left: 30%;
}

.h5-profile {
  color: #FB6107;
}

.fave-info {
  background-color: white;
  border-radius: 15px;
  border-color: #1481ba;
  border-width: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.profile-buttons {
  background-color: white;
  border-radius: 15px;
  padding: 5%;
  padding-bottom: 10%;
  border: 1px solid;
  border-color: #f09451;
}

.favourites-button {
  background-image: url("../images/backgrounds/pancake-blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
}

.budget-button {
  background-image: url("../images/budget2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
}

.recipe-button {
  background-image: url("../images/recipes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
}

.my-favourites {
  padding-top: 3%;
  padding-left: 25%;
}

.my-budget {
  padding-top: 3%;
  padding-left: 25%;
}

.recipes {
  padding-top: 3%;
  padding-left: 23%;
}

.div-button {
  padding-top: 5%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 992px) {
  div.mobile-profile {
    display: none;
  }
  .mobile-profile-info {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  div.desktop-profile {
    display: none;
  }
  .profile-user-info {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .user-name {
    color: #fffd77;
  }
  .fave-title {
    color: #022644;
    margin-left: 35%;
  }
  .my-favourites {
    padding-left: 32%;
  }
  .my-budget {
    padding-left: 35%;
  }
  .recipes {
    padding-left: 39%;
  }
}

/* *********************** LOGIN FROM & CONTACT FORM CSS **********************    */
.login-form {
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 2%;
}

.login-logo {
  padding-top: 4%;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FB6107;
}

input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FB6107;
}

input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #FB6107;
}

textarea {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #FB6107 !important;
}

label {
  font-family: 'Montserrat', sans-serif;
  color: #FB6107;
}

/* *********************** RECIPE LIST PAGE FROM DATABASE CSS  **********************    */
.sub-menu {
  padding-top: 2.5%;
  border-bottom: 1px solid #f09451;
}

.allRecipes-h1 {
  padding-top: 5%;
}

.diff-class {
  text-decoration: none;
}

#div-difficulty-list {
  text-align: right;
  display: inline;
}

#ul-difficulty-list li {
  display: inline;
}

.li-diff-list {
  font-family: 'Montserrat', sans-serif;
  margin-right: 2%;
}

li.li-diff-list > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

li.li-diff-list > a:hover {
  color: #000;
}

li.li-diff-list > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FB6107;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li.li-diff-list > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#text {
  font-family: 'Montserrat', sans-serif;
}

.recipe-difficulty {
  margin-bottom: 0.1%;
}

/* *********************** RECIPE API CSS  **********************    */
.hide {
  display: none;
}

.recipe-api {
  margin-left: 25%;
}

#selectedRecipe {
  font-family: 'Montserrat', sans-serif;
}

.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button {
  color: #FFF8F2;
  /*writing*/
  background-color: #FB6107;
  border-color: #FB6107;
  border-width: 1px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button.active {
  color: #FB6107;
  /*writing*/
  background-color: white;
  border-color: #FB6107;
  border-width: 1px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.api-button {
  margin-top: 2%;
}

@media (max-width: 767px) {
  .api-form-control {
    width: 60%;
    margin-right: 10%;
  }
}

/* *********************** CONTACT  **********************    */
.here-link {
  color: #FB6107;
}

.fa-phone {
  color: #FB6107;
}

.fa-envelope {
  color: #FB6107;
}

#contact-form {
  padding-bottom: 10%;
}

.contact-page-right-col {
  padding-top: 3.5%;
}

.contact-heading {
  padding-top: 3%;
}

/* *********************** FAQ CSS **********************    */
.faq-heading {
  margin-top: 3%;
  text-align: center;
}

.faq-line {
  margin-bottom: 3%;
}

.accordion-section {
  padding-bottom: 10%;
}

.faq-card {
  margin-bottom: 6px;
  border-radius: 20px;
  border-color: #bdb9b6;
  -webkit-box-shadow: 3px 3px 5px 0px #d1d1d1;
          box-shadow: 3px 3px 5px 0px #d1d1d1;
}

/* .faq-card:active{
    box-shadow: 
           inset 
                 0 0  0 2px rgb(255,255,255),
                 0.3em 0.3em 1em rgba(0,0,0,0.3);

}
*/
.card-header {
  background-color: white;
  border: none;
}

.card-header:first-child {
  border-radius: 20px;
}

button.btn-link {
  text-decoration: none !important;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
}

button.btn-link:hover {
  color: #1481ba !important;
}

.faq-p {
  color: gray;
  padding-left: 5%;
}

.fa-cog {
  color: #FB6107;
}

.fa-search {
  color: #FB6107;
}

.fa-share-alt {
  color: #FB6107;
}

.fa-paper-plane {
  color: #FB6107;
}

/* *********************** FOOTER CSS **********************    */
@media only screen and (min-width: 992px) {
  footer#small-footer {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  footer#big-footer {
    display: none;
  }
  .small-footer-section-links {
    text-align: center;
    padding-bottom: 3%;
  }
}

@media only screen and (min-width: 532px) {
  .small-footer-section-links {
    text-align: center;
    padding-bottom: 3%;
  }
  p.footer-contact-details-tiny {
    display: none;
  }
}

@media only screen and (max-width: 531px) {
  footer#big-footer {
    display: none;
  }
  .small-footer-section-links {
    text-align: center;
    padding-bottom: 3%;
  }
  p.footer-contact-details {
    display: none;
  }
}

footer {
  background-color: #f29e4c;
}

.details {
  color: white;
}

.footer-links {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 1%;
}

a.footer-links {
  text-decoration: none;
}

a.footer-links:hover {
  color: #fffd77 !important;
}

.footer-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section1 {
  padding-left: -20%;
}

.footer-section3 {
  margin-left: 30%;
}

footer {
  padding-top: 3%;
}

.fab:hover {
  color: #fffd77 !important;
}

.fab {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 6%;
}
/*# sourceMappingURL=niamh-main.css.map */