/* **********************VARIABLES STYLES****************************/
/* *************************** GENERAL CSS *****************************     */
/* --------------- MIXINS HELLO------------------     */
/* ------------------------------------*/
h1 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

input.sortBy {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

main {
  margin-top: 6.5%;
}

.underline {
  border-bottom: 3px solid #FB6107;
  display: inline-block;
  line-height: 2;
}

body {
  background-color: #ffffff;
}

@media (max-width: 991px) {
  main {
    margin-top: 7%;
  }
}

/* ********************* BUTTON CSS ************************     */
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light {
  color: #ffffff;
  /*writing*/
  background-color: #FB6107;
  border-color: #FB6107;
  border-width: 2px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active {
  color: #FB6107;
  /*writing*/
  background-color: #ffffff;
  border-color: #FB6107;
  border-width: 2px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.btn.btn-light-invert:hover,
.btn.btn-light-invert:focus,
.btn.btn-light-invert:active,
.btn.btn-light-invert {
  color: #FB6107;
  /*writing*/
  background-color: #ffffff;
  border-color: #FB6107;
  border-width: 2px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-light-invert:hover,
.btn.btn-light-invert:focus,
.btn.btn-light-invert:active,
.btn.btn-light-invert.active {
  color: #ffffff;
  /*writing*/
  background-color: #FB6107;
  border-color: #FB6107;
  border-width: 2px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-body {
  -webkit-box-shadow: -1px 17px 16px -5px rgba(122, 122, 122, 0.52);
          box-shadow: -1px 17px 16px -5px rgba(122, 122, 122, 0.52);
}

#myFave {
  position: absolute;
  top: 80%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 1199px) {
  #myFave {
    top: 80%;
    left: 10%;
  }
}

@media (max-width: 991px) {
  #myFave {
    top: 85%;
    left: 10%;
  }
}

@media (max-width: 767px) {
  #myFave {
    top: 85%;
    left: 10%;
  }
  .random-recipe-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* ************Home page specific css*******************     */
.jumbotron {
  color: white;
  background-image: url("../images/backgrounds/hero5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.jumbo-title {
  color: #252424;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.jumbo-text {
  color: #252424;
}

.jumbo-buttons {
  margin-top: 3%;
}

.form-inline {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.home-title1 {
  padding-top: 2%;
  margin-right: 40%;
}

.bottom-home {
  padding-bottom: 10%;
}

.carousel-caption {
  background-color: rgba(240, 148, 81, 0.6);
  width: 20%;
  margin-left: 25%;
  border-radius: 15px;
}

.home-icons {
  width: 25%;
  margin-bottom: 5%;
}

.icon-padding {
  padding-left: 3%;
  padding-right: 3%;
}

a.carousel-recipe {
  color: white;
  text-decoration: none;
}

a.carousel-recipe:hover {
  color: #F7F13B;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*  ********************** 1st CONTAINER **********************    */
.first-home-container {
  margin-bottom: 5%;
}

/*  ********************** 2nd CONTAINER **********************    */
.second-home-container {
  background-color: #f29e4c;
}

/*  ********************** 3rd CONTAINER **********************    */
/*  ********************** CSS CARDS - HOME PAGE **********************    */
@media (max-width: 991px) {
  .home-card {
    width: 80%;
    margin-left: 15%;
  }
}

@media (max-width: 670px) {
  .home-card {
    width: 80%;
    margin-left: 10%;
  }
}

/*  ********************** CSS FOR NAV **********************    */
@media (min-width: 991px) {
  nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

a.nav-link {
  color: white !important;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 130%;
}

@media (max-width: 1069px) {
  a.nav-link {
    font-size: 125%;
  }
}

@media (max-width: 1056px) {
  a.nav-link {
    font-size: 115%;
  }
}

@media (max-width: 1004px) {
  a.nav-link {
    font-size: 110%;
  }
}

.nav-link:hover {
  color: #ffffff !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: #F7F13B !important;
}

.burger-icon {
  width: 50%;
  height: 50%;
}

button.navbar-toggler {
  padding-left: 0%;
  padding-right: 0%;
}

.navbar-brand {
  width: 20% !important;
}

.nav-link {
  font-size: 25px;
  font-weight: 300;
}

a.dropdown-item {
  font-family: "Montserrat", sans-serif;
}

.mobileNav {
  display: none;
}

.desktopNav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* *********************** HOVER ANIMATION CSS FOR NAV **********************    */
@media (min-width: 980px) {
  li.nav-hover > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  li.nav-hover > a:hover {
    color: #000;
  }
  li.nav-hover > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  li.nav-hover > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* *** hides hover animation for mobile nav  ********    */
@media (max-width: 980px) {
  li.nav-hover > a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  li.nav-hover > a:hover {
    color: #000;
  }
  li.nav-hover > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F7F13B;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  li.nav-hover > a:hover:before {
    visibility: hidden;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/*  ********************** MOBILE!!!! CSS FOR NAV **********************    */
@media (max-width: 991px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #EF7823;
    position: fixed;
    height: 60px !important;
    overflow: hidden;
    z-index: 10;
  }
  #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    z-index: 10;
    margin-top: 60px;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    background: -webkit-gradient(linear, left top, left bottom, from(#EF7823), color-stop(180%, #F7F13B));
    background: linear-gradient(180deg, #EF7823 0%, #F7F13B 180%);
  }
  .sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sidebarMenuInner li {
    list-style: none;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  .sidebarMenuInner li a {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type="checkbox"] {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -9px;
  }
}

/* *********************** PROFILE PAGE CSS **********************    */
.profile-body {
  background-image: url("../images/backgrounds/profile-background3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  .profile-body {
    margin-top: -2%;
  }
}

.profile-title1 {
  color: #fffd77;
}

.profile-user-info {
  margin-top: 5%;
  background-color: white;
  border-radius: 15px;
  border: 1px solid;
  border-color: #EF7823;
  padding: 5%;
  padding-bottom: 10%;
  -webkit-box-shadow: inset 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 0 2px white, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.profile-h5 {
  color: #EF7823;
}

a.tab-link {
  color: black !important;
}

a.tab-link:hover {
  color: #FB6107 !important;
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}

a.recipes {
  color: #212529;
  text-decoration: none;
}

.user-col {
  margin-left: 25%;
}

.user-name {
  text-align: center;
}

.h5-profile {
  color: #FB6107;
}

.fave-info {
  background-color: white;
  border-radius: 15px;
  border-color: #1481ba;
  border-width: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.profile-buttons {
  background-color: white;
  border-radius: 15px;
  padding: 5%;
  padding-bottom: 10%;
  border: 1px solid;
  border-color: #EF7823;
}

.favourites-button {
  background-image: url("../images/backgrounds/pancake-blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
}

.recipe-button {
  background-image: url("../images/recipes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
}

.div-button {
  padding-top: 5%;
  padding-bottom: 5%;
}

a.recipes:hover {
  color: #FB6107;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.carousel-control-next,
.carousel-control-prev {
  margin-top: 53rem;
}

@media (max-width: 991px) {
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.carousel-control-next-icon {
  background-image: url("../images/recipeasy-icons-logos/right-arrow.png");
}

.carousel-control-prev-icon {
  background-image: url("../images/recipeasy-icons-logos/left-arrow.png");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 992px) {
  div.mobile-profile {
    display: none;
  }
  .mobile-profile-info {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  div.desktop-profile {
    display: none;
  }
  .profile-user-info {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .fave-title {
    color: #022644;
    margin-left: 35%;
  }
  .my-favourites {
    padding-left: 30%;
  }
  .recipes {
    padding-left: 35%;
  }
}

/* *********************** LOGIN FROM & CONTACT FORM CSS **********************    */
.login-form {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
}

@media (min-width: 991px) {
  .login-form {
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 2%;
  }
}

.login-logo {
  padding-top: 4%;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #727272;
  border-radius: 0;
}

input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #727272;
  border-radius: 0;
}

input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #727272;
  border-radius: 0;
}

textarea {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #727272 !important;
  border-radius: 0;
}

label {
  font-family: 'Montserrat', sans-serif;
  color: #FB6107;
}

/* *********************** SIGN UP CSS **********************    */
.sign-up-body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* *********************** THANK YOU PAGE CSS **********************    */
.thank-you-section {
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 5%;
  opacity: 0.2;
}

.thank-message {
  padding-left: 6%;
  padding-right: 6%;
  padding: 8%;
}

.thanks-body {
  background-image: url("../images/backgrounds/super-background-blur-white.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************FADE IN ANIMATION CSS*****************************/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.thank-hr {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn2 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.thank-you-section {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes fadeIn3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn3 {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*-------------*/
/* *********************** RECIPE LIST PAGE FROM DATABASE CSS  **********************    */
.sub-menu {
  padding-top: 2.5%;
  border-bottom: 1px solid #EF7823;
}

.allRecipes-h1 {
  padding-top: 3%;
}

.diff-class {
  text-decoration: none;
}

#div-difficulty-list {
  text-align: right;
  display: inline;
}

#ul-difficulty-list li {
  display: inline;
}

.li-diff-list {
  font-family: "Montserrat", sans-serif;
  margin-right: 2%;
}

li.li-diff-list > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

li.li-diff-list > a:hover {
  color: #000;
}

li.li-diff-list > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FB6107;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li.li-diff-list > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.slider-div {
  margin-left: 6%;
}

.sortBy:hover {
  color: #EF7823;
  -webkit-transition: ease 0.3;
  transition: ease 0.3;
}

.sortTitle {
  cursor: pointer;
}

.sortSpan:hover {
  color: #EF7823;
  -webkit-transition: ease 0.5;
  transition: ease 0.5;
}

.fa {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.fa.active {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.form-sort {
  border-bottom: 1px solid;
  border-bottom-color: #f29e4c;
}

#text {
  font-family: "Montserrat", sans-serif;
}

.recipe-difficulty {
  margin-bottom: 0.1%;
}

.all-recipes-section {
  padding-bottom: 3.5%;
}

.recipe-page-card {
  margin-right: 3%;
}

.cuisineTitle {
  cursor: pointer;
}

.cuisineSpan:hover {
  color: #EF7823;
  -webkit-transition: ease 0.5;
  transition: ease 0.5;
}

.fa2 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.fa2.active {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.cuisineDiv {
  display: none;
}

.cuisine-list {
  padding-left: 5.5%;
}

.cuisine-class {
  text-decoration: none;
}

#div-cuisine-list {
  text-align: right;
  display: inline;
}

#ul-cuisine-list li {
  display: inline;
}

.li-cuisine-list {
  font-family: "Montserrat", sans-serif;
  margin-right: 2%;
}

li.li-cuisine-list > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

li.li-cuisine-list > a:hover {
  color: #EF7823;
  -webkit-transition: ease 0.3;
  transition: ease 0.3;
}

@media only screen and (max-width: 991px) {
  .surround-filter-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* *************************** SINGLE RECIPE PAGE CSS *****************************     */
.single-recipe-pic {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.single-recipe-line {
  width: 20%;
  border: 1px solid #FB6107;
  margin-top: 0%;
  text-align: left;
}

.single-recipe-line-ingredients {
  width: 25%;
  border: 1px solid #FB6107;
  margin-top: 0%;
  text-align: left;
}

.single-recipe-topRow {
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 990px) {
  .comment-div {
    margin-left: 0% !important;
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.comment {
  margin-top: 3%;
}

/* *********************** RECIPE API CSS  **********************    */
.hide {
  display: none;
}

#intoleranceList, #dietRestrictionsList, #addedTime {
  display: none;
}

#ingredientsList {
  margin-bottom: 5%;
}

.recipe-api {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#selectedRecipe {
  font-family: 'Montserrat', sans-serif;
}

.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button {
  color: #ffffff;
  /*writing*/
  background-color: #FB6107;
  border-color: #FB6107;
  border-width: 1px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}

.api-button:hover,
.api-button:focus,
.api-button:active,
.api-button.active {
  color: #FB6107;
  /*writing*/
  background-color: white;
  border-color: #FB6107;
  border-width: 1px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.api-button {
  margin-top: 2%;
}

@media (max-width: 767px) {
  .api-form-control {
    width: 60%;
    margin-right: 10%;
  }
}

.api-line {
  width: 80%;
  border: 0.5px solid #FB6107;
  margin-top: 0%;
  text-align: left;
}

p.sub-head-api {
  margin-bottom: 0%;
  margin-top: 1%;
}

#ingredientList, #equipment, #recipeName, #cuisine, #methodList {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

input.checkbox-api {
  margin-right: 1%;
}

@media (max-width: 991px) {
  input.checkbox-api {
    display: inline;
  }
}

ul.ingredients-list {
  list-style-type: circle;
}

.api-recipe {
  margin-bottom: 4%;
}

.resultHeading {
  color: #FB6107;
}

#ingredientsList, #intoleranceList, #dietRestrictionsList {
  padding: 15px 15px 10px 15px;
  border-radius: 15px;
}

#ingredientsList h1, #intoleranceList h1, #dietRestrictionsList h1 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
}

#ingredientsList ul, #intoleranceList ul, #dietRestrictionsList ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#ingredientsList ul li, #intoleranceList ul li, #dietRestrictionsList ul li {
  display: inline-block;
  background: #EF7823;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: white;
  padding: 3px 5px 3px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#ingredientsList ul li a, #intoleranceList ul li a, #dietRestrictionsList ul li a {
  color: black;
  text-decoration: none;
  margin-left: 5px;
  font-size: 10px;
  background: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#ingredientsList ul li a:hover, #intoleranceList ul li a:hover, #dietRestrictionsList ul li a:hover {
  color: red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#ingredientsList ul li span.tag_delete, #intoleranceList ul li span.tag_delete, #dietRestrictionsList ul li span.tag_delete {
  color: black;
  text-decoration: none;
  margin-left: 5px;
  font-size: 10px;
  background: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#ingredientsList ul li span.tag_delete:hover, #intoleranceList ul li span.tag_delete:hover, #dietRestrictionsList ul li span.tag_delete:hover {
  color: red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#ingredientsList input, #intoleranceList input, #dietRestrictionsList input {
  border: 0px;
  background: none;
  margin-bottom: 5px;
  display: inline-block;
}

.tt-dataset-tagging {
  color: black;
  background-color: white;
  padding: 5%;
}

.tt-dropdown-menu {
  background-color: pink;
}

li.tagging_new {
  background-color: transparent !important;
  width: 100%;
}

.twitter-typeahead {
  border-bottom: 1px solid #727272;
  border-radius: 0em !important;
}

#ingredientsList input {
  border-bottom: 1px solid #727272;
  border-radius: 0em !important;
  width: 100%;
}

@media (max-width: 575px) {
  .ingredientMethod {
    margin-left: 5%;
  }
  .iconList {
    margin-left: 3%;
  }
}

/* *********************** MY RECIPES PAGE & CREATE RECIPE PAGE CSS **********************    */
a.add-my-recipe {
  color: #FB6107;
}

a.add-my-recipe:hover {
  color: #f29e4c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

form.create-recipe-form {
  padding-bottom: 3%;
}

/* *********************** CONTACT  **********************    */
.here-link {
  color: #FB6107;
}

.fa-phone {
  color: #FB6107;
}

.fa-envelope {
  color: #FB6107;
}

#contact-form {
  padding-bottom: 10%;
}

.contact-page-right-col {
  padding-top: 3.5%;
}

.contact-heading {
  padding-top: 3%;
}

/* *********************** FAQ CSS **********************    */
.faq-heading {
  margin-top: 3%;
  text-align: center;
}

.faq-line {
  margin-bottom: 3%;
}

.accordion-section {
  padding-bottom: 10%;
}

.faq-card {
  margin-bottom: 6px;
  border-radius: 20px;
  border-color: #bdb9b6;
  -webkit-box-shadow: 3px 3px 5px 0px #d1d1d1;
          box-shadow: 3px 3px 5px 0px #d1d1d1;
}

/* .faq-card:active{
    box-shadow: 
           inset 
                 0 0  0 2px rgb(255,255,255),
                 0.3em 0.3em 1em rgba(0,0,0,0.3);

}
*/
.card-header {
  background-color: white;
  border: none;
}

.card-header:first-child {
  border-radius: 20px;
}

button.btn-link {
  text-decoration: none !important;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
}

button.btn-link:hover {
  color: #1481ba !important;
}

.faq-p {
  color: gray;
  padding-left: 5%;
}

.fa-cog {
  color: #FB6107;
}

.fa-search {
  color: #FB6107;
}

.fa-share-alt {
  color: #FB6107;
}

.fa-paper-plane {
  color: #FB6107;
}

/* *********************** FOOTER CSS **********************    */
@media only screen and (min-width: 992px) {
  footer#small-footer {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  footer#big-footer {
    display: none;
  }
  .small-footer-section-links {
    text-align: center;
    padding-bottom: 3%;
  }
}

@media only screen and (min-width: 532px) {
  .small-footer-section-links {
    text-align: center;
    padding-bottom: 3%;
  }
  p.footer-contact-details-tiny {
    display: none;
  }
}

@media only screen and (max-width: 531px) {
  footer#big-footer {
    display: none;
  }
  .small-footer-section-links {
    text-align: center;
    padding-bottom: 3%;
  }
  p.footer-contact-details {
    display: none;
  }
}

footer {
  background-color: #f29e4c;
}

.details {
  color: white;
}

.footer-links {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 1%;
}

a.footer-links {
  text-decoration: none;
}

a.footer-links:hover {
  color: #fffd77 !important;
}

.footer-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section1 {
  padding-left: -20%;
}

.footer-section3 {
  margin-left: 30%;
}

footer {
  padding-top: 3%;
}

.fab:hover {
  color: #fffd77 !important;
}

.fab {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 6%;
}

.swal-overlay {
  background-color: rgba(43, 44, 43, 0.5);
}

.swal-modal {
  border: 3px solid #EF7823;
}

.swal-title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 50px;
}

.swal-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.swal-button {
  background-color: #EF7823;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* *********************** BLOG RELATED CSS **********************    */
textarea.blog-post {
  width: 200%;
  margin-left: -50%;
  background-color: white !important;
}

.add-blog-content-title {
  margin-left: -50%;
}

.add-blog-title {
  margin-left: -50%;
}

.blog-post-title {
  margin-left: -50%;
}

/* --------------------------------------------*/
.blog-content {
  margin-left: 10%;
}

/* *********************** RANDOM RECIPE CSS  **********************    */
.random-row {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.title-div {
  text-align: center;
}

.ingredients-div {
  margin-left: 15%;
}

.random-recipe-list {
  background-color: white;
  -webkit-box-shadow: -1px 17px 16px -5px rgba(122, 122, 122, 0.52);
          box-shadow: -1px 17px 16px -5px rgba(122, 122, 122, 0.52);
  border-radius: 15px;
  margin-bottom: 7%;
}

.random-recipe {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-random-line {
  width: 20%;
  border: 1px solid #FB6107;
  margin-top: 0%;
}

.ingredient-random-line {
  width: 65%;
  border: 1px solid #FB6107;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.serves-random-line {
  width: 75%;
  border: 1px solid #FB6107;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.time-random-line {
  width: 70%;
  border: 1px solid #FB6107;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.equipment-random-line {
  width: 110%;
  border: 1px solid #FB6107;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.cuisine-random-line {
  width: 80%;
  border: 1px solid #FB6107;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.method-random-line {
  width: 20%;
  border: 1px solid #FB6107;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 1%;
}

.randomResultHeading {
  margin-top: 8%;
}

.random-button {
  margin-bottom: 6%;
}

#image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.equipment {
  margin-left: 10%;
  display: block;
}

button.myLink {
  border-radius: 25px;
  padding: 5%;
  background-image: url("../images/recipeasy-icons-logos/heart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button.myLink:hover {
  cursor: pointer;
  background-image: url("../images/recipeasy-icons-logos/heart-clicked2.png");
  -webkit-transition: ease 0.2;
  transition: ease 0.2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button.myLink.active {
  background-image: url("../images/recipeasy-icons-logos/heart-clicked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faveForm {
  display: inline;
}

#myImage {
  position: absolute;
  top: 85%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 991px) {
  #myImage {
    top: 65%;
    left: 85%;
  }
}

@media (max-width: 767px) {
  #myImage {
    top: 85%;
    left: 85%;
  }
  .random-recipe-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.ingredientsTitleRand {
  display: none;
}

.methodTitleRand {
  display: none;
}

@media only screen and (max-width: 801px) {
  .ingredientsDeskTitle {
    display: none;
  }
  .ingredientsTitleRand {
    cursor: pointer;
    display: block;
  }
  .faR {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .faR.active {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  .methodDeskTitle {
    display: none;
  }
  .methodTitleRand {
    cursor: pointer;
    display: block;
  }
  .faR2 {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .faR2.active {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

/* **************************HOVER ANIMATION ********************* */
/* Shadow */
.hvr-shadow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}

.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.table1,
tr,
td {
  border: 1px solid !important;
  border-color: #f29e4c !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

@media (min-width: 1125px) {
  a.tab-link {
    font-size: 125%;
  }
}

@media (max-width: 1126px) {
  a.tab-link {
    font-size: 110%;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 400;
  }
}

.addBlogTitle, .addRecipesTitle, .showRecipesTitle, .showUsersTitle .myRecipesTitle, .myFavesTitle {
  cursor: pointer;
}

.addBlogSpan:hover, .addRecipesSpan:hover, .showRecipesSpan:hover, .showUsersSpan:hover, .myRecipesSpan:hover, .myFavesSpan:hover {
  color: #EF7823;
  -webkit-transition: ease 0.5;
  transition: ease 0.5;
}

.fa4, .fa5, .fa6 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.fa7, .fa8, .fa9 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.fa4.active, .fa5.active, .fa6.active {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.fa7.active, .fa8.active, .fa9.active {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.addBlogDiv, .addRecipesDiv, .showRecipesDiv, .showUsersDiv, .myRecipesDiv, .myFavesDiv {
  display: none;
}

@media (max-width: 957px) {
  .admin-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (min-width: 992px) {
  #accordion {
    display: none;
  }
}

@media (max-width: 991px) {
  #accordion {
    display: block;
  }
}

button.btn-link:hover {
  color: #EF7823 !important;
  -webkit-transition: ease 0.3;
  transition: ease 0.3;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul > li.star {
  display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 2.5em;
  /* Change the size of the stars */
  color: #ccc;
  /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color: #FF912C;
}

/* *********************** CREATE RECIPE CSS **********************    */
.add-recipe-button:hover,
.add-recipe-button:focus,
.add-recipe-button:active,
.add-recipe-button {
  color: #FB6107;
  /*writing*/
  background-color: transparent;
  border-color: #FB6107;
  border-width: 2px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-left: 2%;
  padding-right: 2%;
}

.add-recipe-button:hover,
.add-recipe-button:focus,
.add-recipe-button:active,
.add-recipe-button.active {
  color: #ffffff;
  /*writing*/
  background-color: #FB6107;
  border-color: #FB6107;
  border-width: 2px;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.add-recipe-button {
  margin-top: 2%;
  margin-bottom: 2%;
}

.create-recipe-form {
  margin-left: 12%;
  margin-right: 12%;
  padding-top: 2%;
}

.ingName, .ingMeasure, .ingUnit {
  width: 100%;
}

@media (max-width: 1125px) {
  .rating:not(:checked) > label {
    font-size: 150% !important;
  }
}

button.addBut {
  border-radius: 25px;
  padding: 5%;
  background-image: url("../images/recipeasy-icons-logos/add.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button.addBut:hover {
  cursor: pointer;
  background-image: url("../images/recipeasy-icons-logos/add-clicked.png");
  -webkit-transition: ease 0.2;
  transition: ease 0.2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button.addBut.active {
  background-image: url("../images/recipeasy-icons-logos/add-clicked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-form {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2%;
}

/* *********************** API SINGLE RECIPE RELATED CSS **********************    */
.ingredientsTitle {
  display: none;
}

.methodTitle {
  display: none;
}

.ingredientMethod {
  margin-bottom: 5%;
}

@media only screen and (min-width: 800px) {
  .methodDiv {
    display: inline;
  }
  .ingredientsDiv {
    display: inline;
  }
}

@media only screen and (max-width: 801px) {
  .ingredientsDeskTitle {
    display: none;
  }
  .ingredientsTitle {
    cursor: pointer;
    display: block;
  }
  .ingredientsSpan:hover {
    color: #EF7823;
    -webkit-transition: ease 0.5;
    transition: ease 0.5;
  }
  .fa2 {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .fa2.active {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  .methodDeskTitle {
    display: none;
  }
  .methodTitle {
    cursor: pointer;
    display: block;
  }
  .methodSpan:hover {
    color: #EF7823;
    -webkit-transition: ease 0.5;
    transition: ease 0.5;
  }
  .fa3 {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .fa3.active {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
/*# sourceMappingURL=niamh-main.css.map */