/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Nov-2019, 12:29:48
    Author     : Niamh
*/


/* *************************** GENERAL CSS *****************************     */
h1{
    font-family: 'Ubuntu', sans-serif;
    color: #022644;
}

p{
    font-family: 'Montserrat', sans-serif;
}



hr{
    border: 2px solid #fffd77;
    border-radius:5px;
    width: 20%;
} 

body{
    background-color: #feffea;
}

/* ************Home page specific css*******************     */

.home-title1{
    padding-top: 15%;
    margin-right: 40%;
}

.laptop-pic{
    padding-top: 12%;
}

.bottom-home{
    padding-bottom: 10%;
}


/*  ********************** CSS FOR NAV **********************    */

nav {
    background-color: #022644!important;
}

.nav-link{
    color: white!important;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
    color: #fffd77!important;
}


.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #fffd77!important;
}

.burger-icon{
    width:50%;
    height:50%;
}

button.navbar-toggler{
    padding-left: 0%;
    padding-right: 0%;
}


.navbar-brand{
    width: 20%!important;
}

.nav-link{
    font-size: 25px ;
    font-weight: 300;
}



/* *********************** HOVER ANIMATION CSS FOR NAV **********************    */


@media (min-width: 980px) {

    li.nav-hover > a {
        position: relative;
        color: #000;
        text-decoration: none;
    }

    li.nav-hover > a:hover {
        color: #000;
    }

    li.nav-hover > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fffd77;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }


    li.nav-hover > a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}


/* *** hides hover animation for mobile nav  ********    */

@media (max-width: 980px) {
    li.nav-hover > a {
        position: relative;
        color: #000;
        text-decoration: none;
    }

    li.nav-hover > a:hover {
        color: #000;
    }

    li.nav-hover > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fffd77;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }


    li.nav-hover > a:hover:before {
        visibility: hidden;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}



/* ********************* BUTTON CSS ************************     */
.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light {
    color: #fffd77;                  /*writing*/
    background-color: #1481ba;
    border-color: #1481ba;
    border-width: 2px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}

.btn.btn-light:hover,
.btn.btn-light:focus,
.btn.btn-light:active,
.btn.btn-light.active {
    color: #1481ba;                  /*writing*/
    background-color:#fffd77 ;
    border-color: #1481ba;
    border-width: 2px;
    border-radius:50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}





/* *********************** FOOTER CSS **********************    */

footer{
    background-color: #022644;
}

.details{
    color:white;
}

.footer-links{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 1%;
}

a.footer-links{
    text-decoration: none;
     padding: 10%;
}

a.footer-links:hover{
    color: #fffd77!important;
}

ul{
    list-style: none;
    margin: 0; 
    padding:0
}

.footer-section1{
    padding-left: -20%;
}

.footer-section3{
    margin-left:30%;
}

footer{
    padding-top: 3%;
}

.fab:hover{
    color: #fffd77!important;
}

.fab{
    padding-left: 2%;
    padding-right:2%;
    padding-bottom: 6%;
}



/* *********************** FAQ CSS **********************    */

.faq-heading{
    margin-top: 3%;
    
    text-align: center;
}
.faq-line{
    margin-bottom: 3%;
}

.accordion-section{
    padding-bottom: 10%;
}

.card{
    margin-bottom: 6px;
    border-radius: 20px;
    border-color: #bdb9b6;
    box-shadow: 3px 3px 5px 0px rgba(209,209,209,1);
    
}

.card-header{
    background-color: white;
    border:none;
}

.card-header:first-child {
    border-radius: 20px; 
}

button.btn-link{
    text-decoration: none!important;
    color: black!important;
    font-family: 'Montserrat', sans-serif;
}

button.btn-link:hover{
    color: #1481ba!important;
}


.faq-p{
    color:gray;
    padding-left: 5%;
}

.fa-cog{
    color:#1481ba;
}

.fa-search{
    color:#1481ba;
}

.fa-share-alt    {
    color:#1481ba;
}

.fa-paper-plane{
    color:#1481ba;
}